.container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  
  justify-content: center;
}
span{
  color: white;
}

.skills {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  gap: 15px;
}
.skills img {
  border-radius: 35px;
  box-shadow: 3px 3px 3px 5px rgba(227, 234, 227, 0.7);
}
.skills img {
  opacity: 1;
  transform: scale(0);
  transition: opacity 0.2s ease-in-out, transform 2s ease-in-out;
  padding: 10px;
}

.skills .active {
  opacity: 1;
  transform: scale(1);
}
