

a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  border: 1px solid rgb(206, 206, 206);
  display: flex;
  margin: 5px;
  list-style: none;
  padding: 5px;
  padding-left: px;
  padding-right: px;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(238, 230, 230);
  
}
li {
  list-style: none;
}
.my-icon {
  color: red;
  font-size: 25px;
}
 aside{
  position: fixed;
  top: 0;
  left: 0;
} 
a[disabled] {
  color: rgb(16, 1, 1);
}

